/**
 * @name App
 * @author  
 * @createDate 3/8/2019, 5:14:19 PM
 */

 
 .emoji-area-example
     width: 800px
     margin: 0 auto

.title
    font-size: 30px
    padding: 20px 16px
    color: #3030133

.subtitle
    display inline-block
    margin-left: 10px
    font-size: 18px
    color: #606266

.column-container
    padding 10px 16px
    .column-name
        height 24px
        line-height: 24px
        margin-bottom: 20px
    .column-code
        margin-top: 10px
        color: #909399
    .column-demo
        margin-top: 16px